footer{
    padding: 80px 0;

}
.footer__main{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 64px;
}
.footer__cont{
    max-width: 322px;
    width: 100%;
}
.footer__logo{
    display: flex;
    max-width: 195px;
    width: 100%;
    margin-bottom: 29px;
}
.footer__phone{
    display: flex;
    align-items: center;
    font-family: 'Geometria';
    font-weight: 700;
    font-size: 26px;
    line-height: 28px;
    color: #FDFDFD;
    margin-top: 10px;
    transition: 0.3s;
    margin-bottom: 16px;
}
.footer__phone img{
    margin-right: 8px;
}
.footer__cont .header__location strong {
    font-size: 20px;
    line-height: 20px;
}
.footer__cont>p{
    font-size: 20px;
    line-height: 34px;
    color: #D5DAE3;
    margin-top: 26px;
}
.footer__soc {
    margin-top: 34px;
}
.footer__soc ul{
    display: flex;
    align-items: center;
}
.footer__soc ul li{
    margin-right: 26px;
}
.footer__soc ul li a{
    display: flex;
    transition: 0.3s;
}
.politic-conf{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    border-bottom: 1px solid #FDFDFD;
    color: #FDFDFD;
    margin-top: 37px;
    transition: 0.3s;
}
.politic-conf:hover{
    border-bottom: 1px solid transparent;

}
.footer__block{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 808px;
    width: 100%;
}
.footer__menu + .footer__menu{
    margin-left: 39px;
}
.footer__menu ul li{
    margin-bottom: 15px;
}
.footer__menu ul li a{
    transition: 0.3s;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5DAE3;
    border-bottom: 1px solid transparent;
    white-space: nowrap;
}
.footer__menu ul li a:hover{
    color: #FDFDFD;
    border-bottom: 1px solid #FDFDFD;
}
.footer__href{
    max-width: 241px;
    width: 100%;
}
.footer__href a{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    transition: 0.3s;
}
.footer__href a svg{
    transition: 0.3s;

}
.footer__href a svg path{
    transition: 0.3s;
    fill: #CED2DB;
}
.footer__href a:hover svg path{
    fill: #FDFDFD;
}
.footer-href__icon{
    margin-right: 10px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__href a span{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5DAE3;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
}
.footer__href a:hover span{
    border-bottom: 1px solid #FDFDFD;
    color: #FDFDFD;
}
.name-company{
    border-top: 1px solid #CED2DB;
    padding-top: 32px;
}
.name-company p{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5DAE3;
}
.name-company p + p{
    margin-top: 8px;
}

@media (max-width: 1299px){
    .footer__menu ul li a {
        font-size: 18px;
        line-height: 26px;
    }
    .footer__block {
        max-width: 720px;
    }
    .footer__cont>p {
        font-size: 18px;
        line-height: 32px;
        margin-top: 22px;
    }
    .footer__soc {
        margin-top: 24px;
    }
    .footer__href a span {
        font-size: 18px;
        line-height: 26px;
    }
    .footer__phone {
        font-size: 24px;
        line-height: 26px;
    }
    .name-company p {
        font-size: 18px;
        line-height: 26px;
    }
}
@media (max-width: 1199px){
    .footer__block {
        max-width: 625px;
    }
    .footer__menu + .footer__menu {
        margin-left: 20px;
    }
    footer {
        padding: 50px 0;
    }
    .politic-conf {
        font-size: 18px;
        line-height: 24px;
        margin-top: 23px;
    }
}
@media (max-width: 991px){
    .footer__main {
        padding-bottom: 34px;
        flex-direction: column;
    }
    .footer__logo {
        max-width: 165px;
        margin-bottom: 32px;
    }
    .footer__cont .header__location strong {
        font-size: 16px;
        line-height: 18px;
    }
    .footer__cont>p {
        font-size: 16px;
        line-height: 22px;
        margin-top: 32px;
    }
    .footer__soc ul li {
        margin-right: 20px;
    }
    .politic-conf {
        font-size: 16px;
        line-height: 22px;
    }
    .footer__block {
        max-width: 100%;
        flex-direction: column;
        margin-top: 40px;
    }
    .footer__menu ul li a {
        font-size: 16px;
        line-height: 24px;
    }
    .footer__menu ul li {
        margin-bottom: 8px;
    }
    .footer__menu + .footer__menu {
        margin-left: 0;
        margin-top: 24px;
    }
    .footer__href a span {
        font-size: 16px;
        line-height: 24px;
    }
    .footer__href {
        margin-top: 40px;
    }
    .name-company p {
        font-size: 14px;
        line-height: 20px;
    }
    footer {
        padding: 44px 0 30px;
    }
    .name-company {
        border-top: 0.5px solid #CED2DB;
        padding-top: 24px;
    }
}
