.header__cont{
    display: flex;
    align-items: center;
    padding: 15px 0;
}
.header__fl{
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 10px;
}
.header__location{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 36px;
}
.header__location img{
    margin-right: 6px;
}
.header__location strong{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #E8EBF2;
    cursor: pointer;
    position: relative;
    padding-right: 18px;
}
.header__location strong:after{
    content: "";
    position: absolute;
    top: 6px;
    right: 0;
    width: 10px;
    height: 7px;
    background-image: url("../img/arrow-white.svg");
    transition: 0.3s;
}
.open-location strong:after{
    transform: rotate(-180deg);
}
.header-loc__drop{
    position: absolute;
    padding: 24px;
    width: 299px;
    background: #FDFDFD;
    border: 1px solid #FDFDFD;
    border-radius: 2px;
    top: 37px;
    left: 0;
    display: none;
    z-index: 999;
}
.open-location .header-loc__drop{
    display: block;
}
.header-loc__drop span{
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #313A4E;
}
.header-loc__drop ul{
    margin-top: 16px;
}
.header-loc__drop ul li{
    margin-top: 8px;
}
.header-loc__drop ul li a{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #747E94;
    transition: 0.3s;
}
.header-loc__drop ul li a:hover{
    color: #1E1E1E;
    font-weight: 500;
}
.header__phone{
    font-family: 'Geometria';
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: #FDFDFD;
}
.header__phone img{
    margin-right: 10px;
}
.header__phone span{
    white-space: nowrap;
}

.header__fon{
    padding: 20px 0;
    background: #EDEDED;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.12);
}
.header__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    display: flex;
    max-width: 195px;
    width: 100%;
}
.sidenav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidenav>ul{
    display: flex;
    align-items: center;
}
.sidenav>ul>li{
    margin-right: 50px;
    position: relative;
    transition: 0.3s;
    padding: 5px 0;
}
.sidenav>ul>li a{
    transition: 0.3s;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E1E1E;
    position: relative;
    white-space: nowrap;
}
.sidenav>ul>li:hover>a{
    color: #4969B5;
}
.sidenav>ul>li a:hover{
    color: #4969B5;
}
.sidenav>ul>.submenu__act>a{
    padding-right: 15px;
    white-space: nowrap;
}
.sidenav>ul>.submenu__act>a:after{
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    width: 5px;
    height: 5px;
    border-top: 2px solid #1E1E1E;
    border-right: 2px solid #1E1E1E;
    transform: rotate(135deg);
    transition: 0.3s;
}
.sidenav>ul>.submenu__act:hover>a:after{
    border-top: 2px solid #4969B5;
    border-right: 2px solid #4969B5;
    transform: rotate(-45deg);
    top: 9px;

}
.sidenav ul li .submenu__men{
    display: none;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 16px;
    background: #FDFDFD;
    border: 1px solid #FDFDFD;
    border-radius: 2px;
    z-index: 999;
}
.sidenav>ul>li:hover .submenu__men{
    display: block;
}
.sidenav>ul>li ul li + li{
    margin-top: 8px;
}
.open-menu {
    display: none;
    width: 22px;
    height: 14px;
    position: relative;
}
.open-menu span {
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    background: #272E3E;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.open-menu span:nth-child(1){
    background: #C43742;
}
.open-menu span:nth-child(2){
    background: #4969B5;
}
.close-menu {
    display: none;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 270px;
}
.close-menu span {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #747E94;
}

.close-menu span:first-child, .close-menu span:last-child {
    display: none;
}
.close-menu span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.close-menu span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.anim-menu {
    -webkit-transform: translateX(0%) !important;
    -ms-transform: translateX(0%) !important;
    transform: translateX(0%) !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.body_fix .for-mobile-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    left: 0;
}

.body_fix {
    width: 100%;
    overflow: hidden;
}
.body_fix .open-menu.close-menu {
    z-index: 999999;
}
.call__mob{
    display: none;
}
.head-block__mob{
    display: none;
}
@media (max-width: 1399px){
    .sidenav>ul>li {
        margin-right: 40px;
    }
}

@media (max-width: 1299px){
    .sidenav>ul>li {
        margin-right: 25px;
    }
    .header__phone {
        font-size: 20px;
    }
    .header-loc__drop {
        width: 250px;
    }

}
@media (max-width: 1199px){
    .header__logo {
        max-width: 160px;
    }
    .sidenav>ul>li {
        margin-right: 18px;
    }
    .sidenav>ul>li a {
        font-size: 17px;
        line-height: 24px;
    }
}
@media (max-width: 992px) {
    .menu-width {
        width: 0% !important;
        -webkit-transition: all 0.5s ease 0s !important;
        -o-transition: all 0.5s ease 0s !important;
        transition: all 0.5s ease 0s !important;
    }
    .transition-menu {
        width: 311px !important;
        -webkit-transition: all 0.5s ease 0s !important;
        -o-transition: all 0.5s ease 0s !important;
        transition: all 0.5s ease 0s !important;
    }
    .open-menu span:nth-child(2), .open-menu span:nth-child(3) {
        top: 6px;
    }
    .open-menu span:last-child {
        top: 12px;
    }
    .open-menu {
        display: block;
        z-index: 999;
    }
    .menu-cnt {
        margin: 0;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding: 40px 0 30px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        background: #EDEDED;
    }
    .header__item{
        display: none;
    }

    .call__mob {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 30px;
        height: 30px;
        background: #4969B5;
        border-radius: 50%;
    }
    header{
        background: #EDEDED;
    }
    .header__logo {
        max-width: 130px;
    }
    .sidenav{
        flex-direction: column;
        align-items: flex-start;
        padding: 0 16px;
    }
    .sidenav>ul{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
    }
    .sidenav>ul>li {
        margin-right: 0;
        margin-top: 9px;
    }
    .head-block__mob{
        display: block;
        width: 100%;
    }
    .head-block__mob .header__logo {
        max-width: 195px;
    }
    .head-block__fl{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 45px;
    }
    .head-block__fl .header__location strong {
        color: #3E4A66;
    }
    .sidenav ul li .submenu__men {
        left: 0;
        transform: unset;
    }
    .sidenav .btn{
        position: absolute;
        bottom: 54px;
        width: 100%;
        left: 0;
        max-width: 279px;
        margin-left: 16px;
    }
    .header-loc__drop ul {
        margin-top: 10px;
    }
    .header-loc__drop {
        width: 220px;
        padding: 20px 15px;
    }
    .header-loc__drop span {
        font-size: 16px;
    }
    .header-loc__drop ul li a {
        font-size: 16px;
    }
    .header-loc__drop ul li {
        margin-top: 6px;
    }
    .sidenav .header__location strong:after{
        content: "";
        position: absolute;
        top: 7px;
        right: 0;
        width: 5px;
        height: 5px;
        border-top: 2px solid #1E1E1E;
        border-right: 2px solid #1E1E1E;
        transform: rotate(135deg);
        transition: 0.3s;
    }
}
