
@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.eot');
    src: local('Inter Regular'), local('Inter-Regular'),
    url('Inter-Regular.eot?#iefix') format('embedded-opentype'),
    url('Inter-Regular.woff2') format('woff2'),
    url('Inter-Regular.woff') format('woff'),
    url('Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Inter';
    src: url('Inter-SemiBold.eot');
    src: local('Inter Semi Bold'), local('Inter-SemiBold'),
    url('Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('Inter-SemiBold.woff2') format('woff2'),
    url('Inter-SemiBold.woff') format('woff'),
    url('Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Inter';
    src: url('Inter-Bold.eot');
    src: local('Inter Bold'), local('Inter-Bold'),
    url('Inter-Bold.eot?#iefix') format('embedded-opentype'),
    url('Inter-Bold.woff2') format('woff2'),
    url('Inter-Bold.woff') format('woff'),
    url('Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'Inter';
    src: url('Inter-Italic.eot');
    src: local('Inter Italic'), local('Inter-Italic'),
    url('Inter-Italic.eot?#iefix') format('embedded-opentype'),
    url('Inter-Italic.woff2') format('woff2'),
    url('Inter-Italic.woff') format('woff'),
    url('Inter-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Inter';
    src: url('Inter-Medium.eot');
    src: local('Inter Medium'), local('Inter-Medium'),
    url('Inter-Medium.eot?#iefix') format('embedded-opentype'),
    url('Inter-Medium.woff2') format('woff2'),
    url('Inter-Medium.woff') format('woff'),
    url('Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/*=================- font  Geometria-=================*/


@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Regular.eot');
    src: local('Geometria Regular'), local('Geometria-Regular'),
    url('Geometria-Regular.eot?#iefix') format('embedded-opentype'),
    url('Geometria-Regular.woff2') format('woff2'),
    url('Geometria-Regular.woff') format('woff'),
    url('Geometria-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Italic.eot');
    src: local('Geometria Italic'), local('Geometria-Italic'),
    url('Geometria-Italic.eot?#iefix') format('embedded-opentype'),
    url('Geometria-Italic.woff2') format('woff2'),
    url('Geometria-Italic.woff') format('woff'),
    url('Geometria-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Medium.eot');
    src: local('Geometria Medium'), local('Geometria-Medium'),
    url('Geometria-Medium.eot?#iefix') format('embedded-opentype'),
    url('Geometria-Medium.woff2') format('woff2'),
    url('Geometria-Medium.woff') format('woff'),
    url('Geometria-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Light.eot');
    src: local('Geometria Light'), local('Geometria-Light'),
    url('Geometria-Light.eot?#iefix') format('embedded-opentype'),
    url('Geometria-Light.woff2') format('woff2'),
    url('Geometria-Light.woff') format('woff'),
    url('Geometria-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Bold.eot');
    src: local('Geometria Bold'), local('Geometria-Bold'),
    url('Geometria-Bold.eot?#iefix') format('embedded-opentype'),
    url('Geometria-Bold.woff2') format('woff2'),
    url('Geometria-Bold.woff') format('woff'),
    url('Geometria-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Geometria';
    src: url('Geometria-ExtraBold.eot');
    src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
    url('Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('Geometria-ExtraBold.woff2') format('woff2'),
    url('Geometria-ExtraBold.woff') format('woff'),
    url('Geometria-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


